.on-scroll-transition {
    transition: all ease 600ms;
}

.show-on-scroll {
    transform: translateY(0);
    opacity: 1;
}

.hide-on-scroll {
    transform: translateY(150px);
    opacity: 1;
}

.pulse-on-hover:hover {
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(0, 0, 0, 0);
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--secondary);
    }
}